*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
src/parser/bin/lemon* filter=lfs diff=lfs merge=lfs -text
src/parser/bin/re2c* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
